@import url(./widgets.css);

nav {
    background-color: #68cce7;
    color:black;
    a, span {
        font-weight:700;
    }
}

#search-history-container {
    width: 11%;
}

#display-weather {
    border-bottom: 2px solid black;
    padding-top: 1px;

}

p {
    border-bottom: 1px solid black;
}

.cityWeather {
    display: flex;
    margin: 50px auto;
    max-width: 25%;
    padding: 16px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white background */
    backdrop-filter: blur(5px); /* Minimal blur effect */
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5); /* White shadow effect */
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.6)); /* Add glow effect */
}

.insideCityWeather {
    margin: 20px;
}

.forecastTitle {
    text-align: center; /* Center the text */
    color: white; /* Change the text color to white */
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent black background */
    padding: 10px; /* Add padding around the text */
}

.forecastsWeather {
    display: flex;
    justify-content: space-evenly;
}

.eachForecast {
    margin: 20px 20px 0px;
    width: 20%;
}

.forecastWeather {
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5); /* White shadow effect */
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.6)); /* Add glow effect */
}

.dateElement {
    font-size: 14px;
    background-color: #68cce7;
    border-radius: 20px;
    border-bottom: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Additional styles for smaller screens */
/* Adjustments for cityWeather card */
@media (max-width: 768px) {
    .cityWeather {
        max-width: 50%; /* Adjust max-width for smaller screens */
    }
    #display-weather {
        background-size: cover; /* Adjust background size for smaller screens */
    }
    .eachForecast {
        width: 75%; /* Adjust width for smaller screens */
        margin: 0 auto; /* Center the forecast cards */
        margin-bottom: 15px; /* Add some bottom margin between forecast cards */
    }
    .forecastWeather p {
        font-size: 9px; /* Reduce font size for smaller screens */
    }
}

@media (max-width: 576px) {
    .cityWeather {
        max-width: 75%; /* Adjust max-width for even smaller screens */
    }
    #display-weather {
        background-size: cover;
    }
    .eachForecast {
        width: 100%; /* Adjust width for smaller screens */
        margin: 0 auto; /* Center the forecast cards */
        margin-bottom: 15px; /* Add some bottom margin between forecast cards */
    }
    .forecastWeather p {
        font-size: 9px; /* Reduce font size for smaller screens */
    }
    .dateElement {
        font-size: 8px;
    }
}




