@import url(./widgets.css);

nav {
    background-color: #68cce7;
    color:black;
    a, span {
        font-weight:700;
    }
}

#search-history-container {
    width: 11%;
}

#display-weather {
    border-bottom: 2px solid black;
    padding-top: 1px;

}

.cityWeather {
    display: flex;
    margin: 50px auto;
    max-width: 25%;
    padding: 16px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white background */
    backdrop-filter: blur(5px); /* Minimal blur effect */
}

.insideCityWeather {
    margin: 20px;
}

.forecastsWeather {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.eachForecast {
    margin: 20px 20px 0px;
    width: 20%;
}

.forecastWeather {
    padding: 20px;
}

.dateElement {
    background-color: #68cce7;
    border-radius: 20px;
}